@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Bai Jamjuree", sans-serif;

}
@theme {
  --text-h1: 3.375rem; 
  --animate-under-in: under-in 1.5s ease-in-out forwards;
  --animate-under-in2: under-in 2.5s ease-in-out forwards;

   @keyframes under-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

}
@layer components {
  .FeatuesText{
    /* หัวข้อหลัก */
    font-size: 3.375rem; 
    font-weight: bold;
  }
  
}
