@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Bai Jamjuree", sans-serif;

}
@theme {
  --text-h1: 3.375rem; 

}
@layer components {
  .FeatuesText{
    font-size: 3.375rem;
    font-weight: bold;
  }
  
}
