@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Bai Jamjuree", sans-serif;

}
@theme {
  --text-h1: 3.375rem; 

}
@layer components {
  .FeatuesText{
    /* หัวข้อหลัก */
    font-size: 3.375rem; 
    font-weight: bold;
  }
}

.nail-corners::before {
  content: "";
  position: absolute;
  inset: -14px;
  pointer-events: none;
  z-index: 50;

  background-image:
    url('/WhyArunLink/asset/Asset13.png'),
    url('/WhyArunLink/asset/Asset13.png'),
    url('/WhyArunLink/asset/Asset13.png'),
    url('/WhyArunLink/asset/Asset13.png');

  background-position:
    left top,
    right top,
    left bottom,
    right bottom;

  background-repeat: no-repeat;
  background-size: 28px 28px;
}
