---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Home from "../components/Home";
import WhyArunLink from "../components/WhyArunLink";
import Feture from "../components/Feture";
import Customer from "../components/Customer";
import Partner from "../components/Partner";
import Faq from "../components/Faq";
import Contact from "../components/Contact";
---

<Layout>
  <Navbar client:load />

  <section id="home" class="scroll-mt-28 pt-28">
    <Home />
  </section>
  <section id="why" class="scroll-mt-28 min-h-[50vh] pt-10">
    <WhyArunLink />
  </section>
  <section id="feature" class="scroll-mt-23 min-h-[50vh]">
    <Feture />
  </section>
  <section id="customer" class="scroll-mt-28 min-h-[50vh] ">
    <Customer />
  </section>
  <!-- <section id="partner" class="scroll-mt-28 min-h-[50vh] pt-10">
    <Partner />
  </section> -->
  <section id="faq" class="scroll-mt-28 min-h-[50vh] pt-10">
    <Faq client:load />
  </section>
  <section id="contact" class="scroll-mt-28 min-h-[50vh] pt-10 pb-16">
    <Contact />
  </section>
</Layout>
